<div class="container">

    <h1>My bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
        <li> <%= booking.board.title %></li>
      <% end %>
    </ul>

    <hr>

    <h1>My Boards</h1>
    <% @boards.each do |board| %>
      <h5> <%= board.title %> | <%= link_to "delete", board_path(board), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h5>
    <% end %>
    <hr>


    <h1>My Requests</h1>
      <% @boards.each do |board| %>
        <h5> <%= board.title %>
          <% board.bookings.each do |booking| %>

            <% if booking.pending? %>
              <p>Status: <%= booking.status %></p> <%= link_to "accept", booking_accept_path(booking) %> | <%= link_to "decline", booking_decline_path(booking) %>
            <% else %>
              <p>Status: <%= booking.status %></p>
            <% end %>
            <hr>
        <% end %>
      <% end %>

</div>
