<div class="container">

  <h1>My bookings</h1>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="card shadow p-3 mb-5 bg-body" style="width: 18rem; margin: 20px; padding:15px; border-radius:20px;">
        <%= cl_image_tag booking.board.photo.key, crop: :fill, class: "card-img-top", style: "border-radius: 20px" %>
        <div class="card-body">

        <h5><%= booking.board.title %></h5>

        <p>Date check in: <%= booking.date_check_in %></p>
        <p>Date check out: <%= booking.date_check_out %></p>
        <hr>
        <p>Total price: <%= booking.total_price %>€</p>

        </div>
      </div>
    <% end %>
  </div>

  <hr>

    <h1>My Boards</h1>
    <% @boards.each do |board| %>
      <h5> <%= board.title %>
        |
      <%= link_to board_path(board), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can p-3" style="color:black"></i>
      <% end %></h5>
    <% end %>
    <hr>


    <h1>My Requests</h1>
      <% @boards.each do |board| %>
        <% board.bookings.each do |booking| %>
            <% if booking.pending? %>
              <h5><%= board.title %></h5>
              <p>Status: <%= booking.status %></p>
                <%= link_to "Accept", booking_accept_path(booking), class: "btn-light text-decoration-none" %>
                  |
                <%= link_to "Decline", booking_decline_path(booking), class: "btn-light text-decoration-none" %>
            <% end %>
        <% end %>
      <% end %>

</div>
