<h1>Add a new Booking</h1>

<%= simple_form_for [@board, @booking] do |f| %>
  <%= f.input :date_check_in, as: :date %>
  <%= f.input :date_check_out, as: :date %>
  <%= f.submit "Book this board!" %>
  <% if @booking.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= "You can not rent your own board" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @booking.errors[:base].include?("You cannot book your own surfboard") %>
  <div class="alert alert-danger rounded">
  <%= flash.now[:alert] = "You cannot book your own surfboard!" %>
  </div>
<% end %>
