<br>
<h1 class="text-center">Where do you wanna surf?</h1>
<div class="d-flex justify-content-center my-5">
  <div class="shadow" style="width: 90%; height: 400px"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div class="container py-5">
  <div class="row">
    <% @boards.each do |board| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to board_path(board), class:"text-decoration-none" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.photo.key, height: 300, crop: :fill %>')"
>            <%= board.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
