
<h1 class="text-center">Where do you want to Surf?</h1>
<div class="shadow border border-primary rounded" style="width: 100%; height: 400px;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <%= simple_form_for(@board) do |f| %>
    <div class="form-inputs">
      <%= f.input :location,
        input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    </div>
    <% end %>

<div class="container py-5">
  <div class="row">
    <% @boards.each do |board| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to board_path(board), class:"text-decoration-none" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.photo.key, height: 300, crop: :fill %>')"
>            <%= board.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <div class="d-flex align-items-center justify-content-around mb-3">
    <%= link_to "Rent your own surfboard", new_board_path, class: "btn-all text-center text-decoration-none" %>
  <%# </div> %>
</div>
