
<div class="d-flex justify-content-between">

  <div class="col-md-6" style="background-image: url('<%= cl_image_path @board.photo.key, height: 350, crop: :fill %>'); height: 400px; margin: 30px 20px; background-size: cover; background-position: center; border-radius: 20px; width: 300px;"></div>

  <div class="card shadow p-3 mb-5 bg-body" style="width: 20rem; margin: 20px; padding:15px; border-radius:20px;">
    <div class="card-body">
      <h5 class="card-title"><strong><%= @board.title %></strong></h5>
      <hr>
      <p class="card-text"><strong>Description: </strong><%= @board.description %>
      <p class="card-text"><strong>Location: </strong><%= @board.location %>
      <p class="card-text"><strong>Price per day: </strong><%= @board.price_per_day %>
      <br>
      <hr>

      <%= link_to "Book this board now", new_board_booking_path(@board), class:"btn-all  text-decoration-none" %>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-body" style="width: 20rem; margin: 20px; padding:15px; border-radius:20px;">
    <div class="card-body">
      <h5 class="card-title"><strong>Reviews</h5>
      <hr>
      <% @board.bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>
          <%= "⭐" * review.rating %>
          <p class="card-text"><%= review.content %>
          <br>
          〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
        <% end %>
      <% end %>


    </div>
  </div>

</div>
